body{
    background: #e2e1e0;
}
.titleblock{
    background: #fff;
    border-radius: 2px;
    margin: 1em;
}
.titleblock h1{

}
.targets{

}
.target{
    background: #fff;
    border-radius: 2px;
    margin: 1em;
}
.target span{

}
