body{
    margin: 0;
    background-image: url("/static/wave.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-attachment: fixed;
}
.titleblock{
    text-align: center;
}
.titleblock h1{
    display: inline-block;
    background-color: #1e1e1e;
    padding: 10px 50px;
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    margin: 2em;
}
.targets{
    text-align: center;
}
.target{
    background-color: white;
    padding: 1em;
    margin: 1em;
    display: inline-block;
    font-family: sans-serif;
}
.target > a{
    display: block;
    border: 1px solid #4d81a5;
    text-decoration: none;
    padding: 1em;
    color: black;
}
.target > a:hover{
    box-shadow: 0px 0px 8px -1px #4d81a5;
}
.tags{
    display: flex;
    margin-top: 1em;
}
.tag{
    background-color: red;
    border: 1px solid black;
    padding: 1px;
    font-size: 0.8em;
}
.tag > span{
    margin:  1px;
    padding: 1px;
}
.tagX{
    display: inline-block;
    border: 1px solid black;
    margin: 1px;
    padding: 1px 2px;
}
.target{
    padding-bottom: 0;
}
.target > input{
    transform: scaleY(0);
    transition: margin 100ms ease-in-out, transform 100ms ease-in-out;
}
.target:hover > input{
    margin: 1em 0;
    transform: scaleY(1);
}
