body{
    margin: 0;
    background-image: url("/static/wave.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-attachment: fixed;
}
.titleblock{
    text-align: center;
}
.titleblock h1{
    display: inline-block;
    background-color: #1e1e1e;
    padding: 10px 50px;
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    margin: 2em;
}
.targets{
    text-align: center;
}
.target{
    text-decoration: none;
    background-color: white;
    padding: 1em;
    margin: 1em;
    display: inline-block;
}
.target span{
    font-family: sans-serif;
    color: black;
}
