<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ addr }}</title>
        <link rel="stylesheet" href="/static/shadow.css">
        <link rel="stylesheet" href="/static/overview.css">
        <script type="text/javascript">
            var addr = "{{ addr }}";
        </script>
        <script src="/static/overview.js" charset="utf-8"></script>
    </head>
    <body>
        <div class="titleblock">
            <h1 class="altitude1">O C E A N V I E W</h1>
        </div>
        <div class="status">
            <div class="altitude1">
                <p>
                    Updating in X seconds.
                </p>
                <a href="#" class="altitude1 hoverlift hoverlift3">
                    Update Now.
                </a>
            </div>
        </div>
        <div class="twocol">
            <div id="texts">
                <p class="altitude1">Texts</p>
                <div class="text altitude1" id='LoadingText'>
                    Loading...
                </div>
            </div>
            <div id="shots">
                <p class="altitude1">Shots</p>
                <div class="shot altitude1" id='LoadingShot'>
                    <img src="/static/wave.jpg" alt="Wave" width=600>
                </div>
            </div>
        </div>
    </body>
</html>
