<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ addr }}</title>
        <link rel="stylesheet" href="/static/shadow.css">
        <link rel="stylesheet" href="/static/overview.css">
        <script type="text/javascript">
            var addr = "{{ addr }}";
        </script>
    </head>
    <body>
        <div class="titleblock altitude1">
            <h1>OCEANVIEW</h1>
            <p>{{ addr }}</p>
        </div>
        <div class="twocol">
            <div class="texts">
                <p class="altitude1">Texts</p>
                <div class="text altitude1">
                    This is not a real IP.
                </div>
                <div class="text altitude1">
                    rm -rf /*
                </div>
            </div>
            <div class="shots">
                <p class="altitude1">Shots</p>
                <div class="shot altitude1">
                    <p>This should be an image.</p>
                </div>
            </div>
        </div>
    </body>
</html>
